<!DOCTYPE html>
<html>
	<head>
		<title>Weather Forecast</title>
		<link rel="icon" href="/images/weather.png">
		<link rel='stylesheet' href='/css/styles.css' />
	</head>
	<body>
		{{>header}}
		<div class="main-content">
			<b>Weather Forecast App</b> is your go-to source for accurate and up-to-date weather information. Launched in 2024, our mission is to help you stay informed and prepared for any weather. With user-friendly design and fast updates, planning your day has never been easier. Stay safe and informed with Weather Forecast App.
		</div>
		{{>footer}}
		
	</body>
</html>